
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding/border are included in element's total width/height */
}


:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}


body {
  background-color: var(--Slate300);
  color: var(--Slate900);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 50vh; */
  padding: 1.25rem;
  background-color: var(--White);
  font-family: 'Outfit', sans-serif;
  border-radius: 15px;
  margin: auto;
}

.img-qr {
  width: 90%;
  border-radius: 10px;
  margin-top: 10px;
}


.description p:first-child {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.description p:last-child {
  font-size: 15px;
  text-align: center;
  color: var(--Slate500);
  margin: 20px 20px;
}

@media (min-width: 400px) {
  .container {
    width: 400px;
    margin: 50px auto;
  }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }