@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding/border are included in element's total width/height */
}

body {
  background-color: var(--Yellow);
  color: var(--Gray-950);
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card {
    margin: 0 auto;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 90%;
    max-width: 350px;
    font-family: 'Figtree', sans-serif;
}

.card_img_wrapper {
    padding: 20px;
}

.card_img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.card_content {
    padding: 0 20px;
}

.card_badge {
    display: inline-block;
    border: none;
    background-color: var(--Yellow);
    border: none;
    border-radius: 5px;
    color: var(--Gray-950);
    font-size: 12px;
    padding: 5px 15px;
    font-weight: 800;
}

.card_published {
    font-weight: 800;
    color: var(--Gray-500);
    font-size: 0.75rem;
    margin: 10px 0;
}


.card_title {
    font-size: 22px;
    font-weight: 800;
    margin: 5px 0;

}

.card_title a {
    color: var(--Gray-950);
    text-decoration: none; 
    cursor: pointer;
}

.card_title a:hover, .card_title a:focus-visible {
    color: var(--Yellow);
}

.card_description {
    font-size: 0.875rem;
    color: var(--Gray-500);
    margin: 10px 0 20px 0;
}


.card_avatar {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 0.75rem;
}


.avatar_name{
    font-weight: 800;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

